<div class="login-container">
  <div class="login-image"></div>

  <div class="login-form-wrapper">
    <div class="login-card">
      <h3>Accedi</h3>
      <form (submit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Inserisci la tua email"
            name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="password"
            placeholder="Inserisci la password" name="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
          <label class="form-check-label" for="rememberMe">Ricordami</label>
        </div>

        <button type="submit" class="btn btn-login w-100 mb-3">Login</button>

        <div class="text-center">
          <a href="#" class="login-link d-block mb-3">Hai dimenticato la password?</a>

          <div class="text-center mt-3">
            <p class="mb-2">Non hai un account?</p>

            <a [routerLink]="['/register']" class="btn btn-outline-primary w-100">
              Registrati ora
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>