<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" [class.scrolled]="isScrolled">

  <div class="container">

    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="https://res.cloudinary.com/duimlq34k/image/upload/v1776668316/logo-parrucchieri-oro-bianco_jkgk5v.png"
        alt="LogoScuro">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">PRODOTTI</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/services']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">SERVIZI</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/appointments']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">APPUNTAMENTI</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" fragment="chi-siamo" (click)="scrollToFragment('chi-siamo')">CHI
            SIAMO</a>
        </li>

        <li class="nav-item">
          <button class="nav-link ai-nav-btn" type="button" (click)="openAi()">CHIEDI ALL'IA</button>
        </li>

      </ul>

      <div class="d-flex align-items-center">
        <a [routerLink]="['/cart']" class="icon-btn" routerLinkActive="active-icon"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-bag"></i>
        </a>

        <a [routerLink]="['/login']" (click)="rememberLoginOrigin()" class="icon-btn d-flex align-items-center text-decoration-none"
          [ngClass]="{ 'active-icon': isUserPage() }">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>

    </div>

  </div>
</nav>
